 <div class="row">
  <div class="column"><%= render "hangman" %></div>
  <div class="column"><%if (@guesses < 5 && !@endgameFlag) %>
                             <%= render "letters", lettersUsed: @lettersUsed %>
                      <% else %>
                             <%= render "gameover", guesses: @guesses, report: @report, word: @word %>
                      <% end %>
  </div> 
 </div>
 <div class="row">
  <div class="column"><%= render "challenge", word: @word, lettersUsed: @lettersUsed %></div>
</div> 
